<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div>


    <nav>
      <ul>
        <li>
          <a href="#" class="logo">
            <img src="/logo.jpg" alt="">
            <span class="nav-item"></span>
          </a>
        </li>
        <li><a href="#">
          <i class="fas fa-home"></i>
          <!-- <span class="nav-item">Home</span> -->
        </a></li>
        <li><a href="#">
          <i class="fas fa-inbox"></i>
          <!-- <span class="nav-item">inbox</span> -->
        </a></li>
        <li><a href="#">
          <i class="fas fa-briefcase"></i>
          <!-- <span class="nav-item">jobs</span> -->
        </a></li>
        <li><a href="#">
          <i class="fas fa-phone"></i>
          <!-- <span class="nav-item">contact</span> -->
        </a></li>
        <li><a href="#">
          <i class="fas fa-cog"></i>
          <!-- <span class="nav-item">settings</span> -->
        </a></li>
        <li><a href="#"class="help">
          <i class="fas fa-question-circle"></i>
          <!-- <span class="nav-item">Help</span> -->
        </a></li>
        <li><a href="#" class="chat">
          <i class="fas fa-comment-alt"></i>
          <!-- <span class="nav-item">chats</span> -->
        </a></li>
        <li><a href="#" class="menu">
          <i class="fas fa-th"></i>
          <!-- <span class="nav-item">Menu</span> -->
        </a></li>

      </ul>
    </nav>

  </div>


 <script>
  $(".hamburger").click(function(){
   $(".wrapper").toggleClass("collapse");
});
</script>



</body>
</html>
